* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  color: var(--Neutral-Medium);
}

.homepage-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  height: 52px;
  flex-shrink: 0;
}

.menu {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  gap: 8em;

  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.menu a {
  text-decoration: none;
  color: var(--Neutral-Medium);
}

.menu-first a {
  color: var(--Primary-Default, #072ac8);
}

.menu a:hover,
.menu a:active {
  color: var(--Primary-Default, #072ac8);
}

.btn-container {
  display: flex;
  width: 200px;
  padding: 15px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--Primary-Default, #072ac8);
}

.circle-paragraph {
  margin: 3rem 0;
  color: var(--Neutral-Medium, #6b708d);

  color: var(--Neutral-Medium, #6b708d);

  /* Body/Regular */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.contact-btn {
  color: var(--blank, #ffffff);
  background-color: var(--Primary-Default, #072ac8);
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border: none;
  width: 100%;
}

.hero-section {
  display: flex;
  width: 1440px;
  height: 650px;
  padding: 0px 170px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
  height: 650px;
  flex-shrink: 0;
}

.hero-content {
  min-width: 530px;
  height: 422px;
  flex-shrink: 0;
}

.hero-content h1 {
  max-width: 530px;
  font-family: Roboto;
  color: var(--Neutral-Dark, #292e47);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-content p {
  max-width: 435px;
  color: var(--Neutral-Medium, #6b708d);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero-buttons {
  max-width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.hero-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  max-height: 90%;
  transform: rotate(1.394deg);
  flex-shrink: 0;
}

.hero-man {
  width: 580px;
  height: 650px;
  flex-shrink: 0;
  background-image: url(./project-assets/hero-section/hero-image.png);
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card1 {
  position: absolute;
  flex-shrink: 0;
  left: -80px;
  top: -50px;
}

.card1 img {
  width: 55%;
}

.card2 {
  position: absolute;
  flex-shrink: 0;
  bottom: -150px;
  right: -425px;
}

.card2 img {
  width: 50%;
}

.client-section-container {
  max-width: 1100px;
  height: 96px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client-section-container img {
  max-width: 100%;
  gap: 100px;
  filter: grayscale(100%);
}

.project-section-container {
  max-width: 1100px;
  height: 561px;
  flex-shrink: 0;
  margin: 0 auto;
}

.project-section-container h3 {
  color: var(--Neutral-Dark, #292e47);
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  flex-shrink: 0;
  margin-top: 3rem;
}

.project-card {
  width: 340px;
  height: 444px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 38.776px 77.551px 0px rgba(0, 0, 0, 0.1);
}

.project-card h4 {
  color: var(--Neutral-Dark, #292e47);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.project-card h5 {
  color: var(--Neutral-Medium, #6b708d);
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.card-left {
  background: url(./project-assets/projects-section/1.jpg) lightgray 50% / cover
    no-repeat;
}

.card-center {
  background: url(./project-assets/projects-section/2.jpg) lightgray 50% / cover
    no-repeat;
}

.card-right {
  background: url(./project-assets/projects-section/3.jpg) lightgray 50% / cover
    no-repeat;
}

.img-class {
  width: 340px;
  height: 240px;
  flex-shrink: 0;
}

.content-card {
  margin: 2rem;
}

.content-card p {
  color: var(--Primary-Default, #072ac8);
  margin-top: 3rem;
  margin-bottom: 1rem;

  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.content-card a {
  text-decoration: none;
}

.testimonial-section {
  width: 1320px;
  height: 622px;
  flex-shrink: 0;
  margin: 0 auto;
  background: var(--Neutral-Dark, #292e47);
  background-image: url("./project-assets/testimonial-section/orbit.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.testimonial-container {
  display: flex;
  width: 1100px;
  height: 382px;
  padding: 0px 239px 0px 240px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 auto;
}

.testimonial-content {
  max-width: 621px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem;
}

.testimonial-content h3 {
  color: var(--Neutral-Light, #f4f6fc);
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.testimonial-content p {
  color: var(--Secondary-1, #ffc600);
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.4px;
}

.testimonial-client-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.client-imagen {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: url(./project-assets/testimonial-section/profile.png) lightgray
    50% / cover no-repeat;
}

.client-info {
  padding: 0.5rem;
}

.client-info h5 {
  color: var(--Primary-Hover, #a2d6f9);
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: 170%; /* 17px */
}

.client-info h6 {
  color: var(--Neutral-Light, #f4f6fc);

  /* Caption/2 */
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.memoji {
  width: 1185px;
  height: 498px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.memoji-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.memoji-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-memoji {
  max-width: 150px;
  height: 150px;
  flex-shrink: 0;
}
